body{
    background-color: rgb(33, 34, 44);
    color:aliceblue;
    margin: 50px;
}

h3{ font-family: monospace;
    font-size: larger;
    color: brown; ;
    position:relative;
    left: 75px;
} 

.skill {
  margin-bottom: 15px;
}

.progress-bar {
  width: 20%;
  height: 9px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #3498db;
  border-radius: 10px;
}
